body{
    background-image: url(../img/vermel2.avif);}


.anjo{
    width: 270px;
    height: 370px;
    border: solid 3px black;
    margin-left: 60px;
  margin-top: 100px;
}
.mago{
    width: 270px;
    height: 370px;
    border: solid 3px black;
    margin-left: 60px;
  margin-top: -200px;
}
.mago:hover{
    height: 400px;
    width: -100px;
        }
.fim{
    width: 270px;
    height: 370px;
    border: solid 3px black;
    margin-left:70px;
  margin-top: -700px;
}
.fim:hover{
    height: 400px;
    width: -100px;
        }
.vermelho{
    width: 250px;
    height: 370px;
    border: solid 3px black;
    margin-left:70px;
  margin-top: -700px;
}
.vermeio:hover{
height: 400px;
width: -100px;
}




