body{
    background-image: url(../img/vermel2.avif);
    }
    .amarelo{
        margin-top: 30px;
margin-left: 30px;
width: 300px;
height: 400px;
z-index: 100;}

.quadrado{
    color: aliceblue;
    margin-top: -370px;
    margin-left: 350px;
    background-color: #000000;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 15px;
    width: 500px;
    height: 250px;}
    
    .botão{
        font-family: 'Times New Roman', Times, serif;
        border: 2px;color: black solid;
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        height: 70px;
        width: 95px;
        margin-left: 70px;
        margin-top: 130px;
    }
    
    
    .renato{
        display: flex;
        flex-direction: row;
        gap: 22px;
    }
    
    .voltar{
        font-family: 'Times New Roman', Times, serif;
        border: 2px rgb(0, 0, 0) solid;
        background-color: rgba(255, 255, 255, 0.777);
        border-radius: 10px;
        height: 70px;
        width: 95px;
        margin-top: 130px;
       margin-left:30px;
    }