* {
    padding:0;
    margin: 0;
    border: 0;
    box-sizing: 0;
}
body{
    background-image: url(../img/vermel2.avif);
    }
    
.chapeu{
    margin-top: 30px;
    margin-left: 30px;
    width: 305px;
    height: 350px;
    }
    .quadrado{
        margin-top: -340px;
        margin-left: 360px;
        background-color: #ffffff;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 15px;
        width: 600px;
        height: 300px;}

       
        .botão{

            font-family: 'Times New Roman', Times, serif;
            background-color: rgb(255, 0, 0);
            border-radius: 10px;
            height: 70px;
            width: 95px;
            margin-left: 70px;
            margin-top: 90px;
        }
        .renato{
            display: flex;
            flex-direction: row;
            gap: 22px;
        }
        .voltar{
            font-family: 'Times New Roman', Times, serif;
            background-color: rgba(255, 255, 255, 0.777);
            border-radius: 10px;
            border:1px  black solid;
            height: 70px;
            width: 95px;
            margin-top: 90px;}
        
        .ver{
 margin-top: -90px;
 margin-left: 400px;
 width: 270px;
 height: 360px;
 z-index: 100;
}
.verr{
    
   margin-top:-800px;
    margin-left: 750px;
width: 270px;
height: 375px;

}